<h1 style="text-align: center;">Edit Product</h1>

<div style="width: 400px; margin: 0 auto;">
  <%= render "form", product: @product %>
  <div style="text-align: center; margin-top: 10px;">
    <%= link_to "Back", products_path, style: "text-decoration: none; color: #007bff;" %>
  </div>
</div>
